@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin: 50px 140px 0;
  font-family: "Merriweather", serif;
  color: white;
}
main {
  width: 80%;
  margin: 0 auto;
}

main section {
  margin-top: 120px;
}

.banar {
  background: linear-gradient(
      180deg,
      rgb(0, 0, 0) 2%,
      rgba(29, 14, 58, 0.2) 80%
    ),
    url("../assets/images/Banner\ Image.png");
  /* background-image: url("../assets/images/Banner\ Image.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 12px;
  text-align: center;
  /* margin: 200px auto 0px; */
  padding-top: 150px;
}
.banar p {
  font-size: 25px;
}
.banar h1 {
  font-size: 56px;
  padding: 0 200px;
}

.discount-sec {
  /* background-color: aqua; */
  margin-bottom: 120px;
  font-family: "Inter", serif;
}

.discount-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.discount-container h2 {
  font-size: 58px;
  font-weight: 700;
  color: #ff0000;
}
.discount-extra-text {
  text-align: center;
}
.discount-extra-text p {
  color: #ff0000;
}
.discount-extra-text h3 {
  font-weight: 700;
}

.discount-container img {
  width: 60%;
}

/* Midnight Party */
.midnight-party {
  width: 100%;
  height: 500px;
  background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 2%,
      rgba(29, 14, 58, 0.2) 80%
    ),
    url("../assets/images/Group\ 70.png"), 
    url("../assets/images/Vectorrr.png");
  /* background-image: url("../assets/images/Group\ 70.png"),
    url("../assets/images/Vectorrr.png"); */
  background-repeat: no-repeat;
  background-position: center center,85% 45%, right center;
  background-size: cover, 220px 350px, cover;
  margin-bottom: 100px;
  padding: 70px 120px;
  border-radius: 12px;
}
.party-container {
    
    color: white;
    font-family: "Merriweather", serif;
}
.welcome-msg{
    font-size: 64px;
    font-weight: 600;
}
.welcome-msg span{
    display: block;
}
.party-desc{
    font-size: 14px;
    color: rgb(168, 165, 162);
    padding: 20px 150px 20px 0;
}

.join-btn{
    margin-left: 18px;
}
.join-btn button{
    background: transparent;
    color: white;
    border: none;
}

/* Best Offer */
.offer-container{
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.offer-item{
    flex-basis: 30%;
}

.offer-img{
    padding: 30px;
    border: 20px solid red;
    border-radius: 50%;
}
.offer-img img{
    /* border: 10px solid red; */
}
